*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table; 
    clear: both;
}
.flex{
    display: flex;
}
header{
    width: 85vw;
    height: 10vh;
    background-color: black;
    float: right;
    position: relative;
}
.btn-upgrade{
    position: absolute;
    top:15px;
    right: 0;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
    color: white;
    text-decoration: none;
    
}
.logo-spotify{
    width: 50px;
    margin: 10px;
    
    
}
.nav-bar h1{
    display: inline-block;
    margin-top: 18px;
    font-size: 2rem;
}

main{
    width: 85vw;
    height: calc((100vh - 10vh) - 10vh);
    background-color: blue;
    float: right;
}
nav{
    width: 15vw;
    height: calc(100vh - 10vh);
    background-color: rgb(23, 143, 63);
}
footer{
    width: 100vw;
    height: 10vh;
    background-color: grey;
}
/* small */
@media screen and (max-width:576px){
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header, main{
    width:  calc(100vw - 60px);
}
nav{
    width:60px;
}
footer{
    width: 100vw;
}
}
 /* /* medium  */
 @media screen and (min-width:577px) and (max-width:768px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    header, main{
        width: calc(100vw - 200px);
    }
    nav{
        width: 200px;
    }
    footer{
        width: 100vw;
    }
}  
 /* large */
 @media screen and (min-width:769px) and (max-width:992px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    header, main{
        width: calc(100vw - 200px);
    }
    nav{
        width: 200px;
    }
    footer{
        width: 100vw;
    }
} 

/* extra-large */
 @media screen and (min-width:993px) and (max-width:1500px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    header, main{
        width: calc(100vw - 200px);
    }
    nav{
        width: 200px;
    }
    footer{
        width: 100vw;
    }
} 
