*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table; 
    clear: both;
}
main{
    display:flex;
}
main{
    height: calc(100vh - 90px);
    background-color: blue;
    
}
 main#main-navbar{
    background-color: black;
}
.col-left{
    width: 220px;
    background-color: darkgoldenrod;
}
.col-right{
    width: calc(100% - 220px);
    background-color: rgb(184, 11, 170);
    }
 main div#call-top{
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    height: 80px;
}
.top-nav{
    background-color: darkred;
    height: calc(100% - 65px);
    display: flex;
    flex-direction: column;
}
.bottom-nav{
    background-color: deepskyblue;
    height: 65px;
}
.nav-logo{
    height: 80px;
    background-color: chartreuse;
    display: flex;
 }
.nav-menu{
    height: 120px;
    background-color: hotpink;
    
 }
.nav-playlist{
    height: 280px;
    background-color: black;
}
.flex{
    display: flex;
}
.btn-upgrade{
    position: absolute;
    top:15px;
    right: 0;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
    color: white;
    text-decoration: none;
    
}
.nav-logo img{
    width: 50px;
    
}

.nav-menu img {
    width: 35px;
}

.opzione {
    align-items: center;
}

 .nav-menu h4 {
    font-size: 0.8rem;
    color: grey;
}

 #sito{
     align-self: center;
     font-size: 1.7rem;
 }
 .fa-plus{
     background-color: rgb(83, 83, 83);
     padding: 1rem;
     
 }
 .new-list h4{
     display: inline-block;
     color: grey;
 }
 .new-list h3{
     color: white;
 }
 .lista-playlist ul li{
     color: grey;
     line-height:30px;
 }
 .download img {
     width: 25px;
 }
 .download, h4{
     align-items: center;
     color: gray;
 }
hr{
    width: 85%;
    margin: 0 auto;
}

 .autore,h3{
    align-items: center;
    color: white;
} 
.autore img{
    width: 25px;
    border-radius: 50%;
    background-color:gray;
}

.lista-generi{
    justify-content: center;
    list-style-type: none;
}
.lista-generi li{
    margin: 10px;
}
.left-footer{
    align-items: center;
    
}

footer{
display: flex;
align-items: center;
height: 90px;
background-color: brown;
}
 .immagine-song img{
    width: 50px;
}
.name-song, h5, h6{
    vertical-align: middle;
    
}


/* small */
/* @media screen and (max-width:576px){
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header, main{
    width:  calc(100vw - 60px);
}
nav{
    width:60px;
}
footer{
    width: 100vw;
}
} */
 /* /* medium  */
 /* @media screen and (min-width:577px) and (max-width:768px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    header, main{
        width: calc(100vw - 200px);
    }
    nav{
        width: 200px;
    }
    footer{
        width: 100vw;
    }
}   */
 /* large */
 /* @media screen and (min-width:769px) and (max-width:992px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    header, main{
        width: calc(100vw - 200px);
    }
    nav{
        width: 200px;
    }
    footer{
        width: 100vw;
    }
}  */

/* extra-large */
 /* @media screen and (min-width:993px) and (max-width:1500px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    header, main{
        width: calc(100vw - 200px);
    }
    nav{
        width: 200px;
    }
    footer{
        width: 100vw;
    }
}  */
